@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
}

html {
  height: 100%;
}

.main-container {
  flex-grow: 1;
}

.catalog-filter-group {

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.page-header {
  display: flex;
  align-items: center;
  width: 1060px;
  margin: 0 auto;
  color: #000000;
  background-color: #ffffff;
  font-weight: 700;
  padding: 0 70px;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  width: 339px;
  margin: 0;
  padding: 0;
}

.navigation-user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 300px;
  margin-left: auto;
}

.navigation-link.current {
text-decoration: underline solid #756257;
text-decoration-thickness: 2px;
text-underline-offset: 19 px;
}

.page-container {
  margin: 0 auto;
}

.logo-image {
  display: block;
  margin: 0 auto;
  margin-right: 30px;
  margin-bottom: -6px;
}

.navigation-link {
  display: block;
  padding: 20px 16px;/**/
  flex-wrap: wrap;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;

}

.navigation-link-search {
  background-image: url("../images/search.svg");
  min-width: 20px;
  min-height: 20px;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background-repeat: no-repeat;
  background-color: #ffffff;
  cursor: pointer;
}
/*почему то не появился*/

.navigation-link-likes {
  background-image: url("../images/like.svg");
  color: #000000;
  background-repeat: no-repeat;
  min-width: 20px;
  min-height: 20px;
  font-size: 20px;
  line-height: 24px;
  background-color: #ffffff;
}


.navigation-item {
box-sizing: border-box;
}

.navigation-user {
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.hero {
  background-color: #a0a0a0;
  background-image:url("../images/divider.svg"), url("../images/background.jpg");
  background-size: 1200px 57px, cover;
  background-repeat: no-repeat;
  background-position: left bottom -1px, left top;
}

.hero-background {
  text-align: center;
padding-top: 51px;
padding-bottom: 82px;
margin: 0 auto;
min-height: 485px;
}

.navigation-link-button {
  border-radius: 4px;
  text-align: center;
  color: #ffffff;
  background-color: rgba(117, 97, 87, 1);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
  font-size: 16px;
  padding: 8px 50px 8px 50px;
}

.advantages {
  background-color: #ffffff;
 min-height: 1155px;
}
.advantages-item {
  display: flex;
  flex-direction: column;
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-item-light {
  background-color: rgba (131,179,211,0.12);
  color: #000000;
}

.advantages-item-medium {
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.advantages-hero {
  font-family: inherit;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  padding-top: 69px;
  text-transform: uppercase;
}


.advantages-describtion {
font-family: inherit;
font-size: 22px;
font-weight: 400;
line-height: 26px;
text-align: center;
padding-top: 25px;
padding-bottom: 69px;
}


.advantages-list {

}

.advantages-item {
  display: flex;
  flex-direction: row ;
  width: 400px;
  min-height: 385px;
}
.wrapper-advantages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 1200px;
  /*padding: 102px 85px;*/
}

.wrapper-advantages-container {
  display: flex;
  flex-direction: row;
}

.wrapper-advantages-image {
  display: flex;
  flex-direction: row;
  width: 1200px;
  height: 385px;
}

.wrapper-advantages-image.reverse {
  flex-direction: row-reverse;
}

.advantages-item-light {
background-color: rgba(131, 179, 211, 0.12);
;
}
.hero-image {
text-align: center;
padding-top: 51px;
padding-bottom: 82px;
margin: 0 auto;
}

.advantages-title {
  font-family: inherit;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-description {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}


.services-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  min-height: 385px;
}

.services-item {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
  text-align: center;
  min-height: 385px;
  box-sizing: border-box;
  padding: 85px 81px;
}

.services-item.light {
  background-color: #ffffff;
  background-image: url("../images/food.svg");
  color: #000000;
  background-repeat: no-repeat;
  min-width: 20px;
  min-height: 20px;
  font-size: 20px;
  line-height: 24px;
}

.services-item.house {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url("../images/house.svg");
  color: #000000;
  background-repeat: no-repeat;
  min-width: 72px;
  min-height: 75px;
  font-size: 20px;
  line-height: 24px;
}

.services-item.souvenir {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url("../images/prise.svg");
  color: #000000;
  background-repeat: no-repeat;
  min-width: 20px;
  min-height: 20px;
  font-size: 20px;
  line-height: 24px;
}

.services-title {
  font-family: inherit;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  padding-top: 64px;
  text-transform: uppercase;
}

.services-name {
font-family: inherit;
font-size: 24px;
font-weight: 700;
line-height: 28px;
}

.services-definition {
  font-family: inherit;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  padding-bottom: 64px;
}

.services-description {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.search-title {
  font-family: inherit;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  padding-top: 96px;
}

.search-description {
  font-family: inherit;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.hotels-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 70px;
  gap: 20px;
}


.hotel-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 340px;
  box-shadow: 0 0 0 1px #E6E6E6;
}

.hotel-card:nth-child(3) {
  margin-right: 0;
}


.hotel-card-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 140px;
}


.search-hotels-link {
display: block;
box-sizing: border-box;
 border-radius: 4px;
 width: 376px;
 height: 36px;
 font-size: 20px;
 line-height: 36px;
 font-weight: 700;
 text-align: center;
 color: #ffffff;
 background-color: rgba(117, 97, 87, 1);
 text-decoration: none;
 padding: 8px 50px;
 text-transform: uppercase;
}

.subscription {
font-family: inherit;
 padding: 96px 258px 104px 258px;
 text-align: center;
 background-color: #ffffff;
 color:#000000;
}

.subscription-photo {
  background-image: url("../images/subscription-photo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

.subscription-title {
font-family: inherit;
 font-size: 30px;
 font-weight: 700;
 line-height: 36px;
 text-align: center;
 text-transform: uppercase;
}

.subscription-description {
 font-family: inherit;
 font-size: 22px;
 font-weight: 400;
 line-height: 26px;
 text-align: center;
}

.wrapper-subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 684px;
  min-height: 215px;
  box-sizing: border-box;
}


.search-hotels {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-title {
  text-transform: uppercase;
}
.subscription-form {
 width: 452px;
 height: 52px;
 border-radius: 4px 0px 0px 4px;
 text-align: center;
}

.field {
  font-family: "PT Sans", sans serif;
  /* элемент не встает width: 452px;
height: 52px; */
padding: 12px 20px 12px 20px;
border-radius: 4px, 0px, 0px, 4px
}

.button {
  font-family: "PT Sans", sans serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: rgba(130, 179, 211, 1);
  text-transform: uppercase;
  cursor: pointer;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  margin: 0 auto;
  color: #000000;
  background-color: #ffffff;
  font-weight: 700;
  padding: 0 70px;
  min-height: 120px;
  padding: 40px 70px 30px;
}

.social {
 width: 47px;
 height: 40px;
 padding: 0px 10px 0px 10px;
}

.social-list {
  display: flex;
  flex-direction: row;
}


.contacts-phone {
 width: 331px;
 font-size: 40px;
 font-weight: 400;
 line-height: 40px;
 color: #000000;
 background-color: #ffffff;
 text-align: center;
}



.htmlacademy-link {
 background-image: url("../images/logo-html.svg");
 width: 115px;
 height: 33px;
 color: #000000;
 background-color: #ffffff;
 background-repeat: no-repeat;
}


.main-inner {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/filter-hotels.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}


.wrapper-inner {
display: flex;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 1060;
}

.wrapper-button {
  display: flex;
  flex-direction: row;
}

.inner-header-title {
font-family: PT Sans;
font-size: 60px;
font-weight: 700;
line-height: 78px;
text-align: left;
color:#ffffff;
}

.breadcrumbs {
  display: flex;
}

.breadcrumbs-item-header {
  color:#ffffff;
  background-color: #000000;
  background-image: url("../images/bread-home.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width:20px;
  height: 20px;
}

.catalog-filter-title {
  font-family: PT Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: rgba(255, 255, 255, 1);

}


.control {
  color: rgba(255, 255, 255, 1);
font-family: PT Sans;
font-size: 18px;
font-weight: 400;
line-height: 23px;
text-align: left;
}

.catalog-filter-title {
  color: rgba(255, 255, 255, 1);
font-family: PT Sans;
font-size: 20px;
font-weight: 700;
line-height: 24px;
text-align: left;
}
/* не сработала стоимость, делаем для нее другой класс?*/

.button-filter {
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}
/*как для нее сбросить фон? а потом вернуть кнопке active?*/


.options-search {
  display: flex;
  flex-direction: row;
  width: 160px;
}

.result-title {
  margin: 0;
}

.result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1060px;
  padding: 40px 50px;
font-family: PT Sans;
font-size: 30px;
font-weight: 700;
line-height: 36px;
text-align: left;
}

.catalog-filter-group {
  color:#ffffff;
}

.select-control {
font-family: PT Sans;
font-size: 18px;
font-weight: 400;
line-height: 21px;
text-align: left;
margin: 0;
}

.button.button-light {
  display: block;
  width: 16px;
  height: 14px;
  color: #000000;
  background-color: #f2f2f2;
  background-image: url("../images/view1.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.button.button-whole {
  display: block;
  width: 16px;
  height: 14px;
  color: #000000;
  background-color: #f2f2f2;
  background-image: url("../images/view2.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.button.button-list {
  display: block;
  width: 16px;
  height: 14px;
  color: #000000;
  background-color: #f2f2f2;
  background-image: url("../images/view3.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

/*никакие не добавились */

.hotel-card-title {
font-family: PT Sans;
font-size: 24px;
font-weight: 700;
line-height: 28px;
text-align: left;
}

.hotel-card-type {
  font-family: PT Sans;
font-size: 18px;
font-weight: 400;
line-height: 21px;
text-align: left;
}

.hotel-card-price {
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
}

.hotel-more {
font-family: PT Sans;
font-size: 16px;
font-weight: 700;
line-height: 20px;
text-align: center;
color: rgba(255, 255, 255, 1);
background-color: rgba(117, 97, 87, 1);
padding: 8px, 50px, 8px, 50px
border-radius: 4px
}
/*не добавилось */

.four-stars {
background-color: #f2f2f2;
background-image: url("../images/stars4.svg");
background-size: 100% auto;
background-repeat: no-repeat;
}

.three-stars {
background-color: #f2f2f2;
background-image: url("../images/stars3.svg");
background-size: 100% auto;
background-repeat: no-repeat;
}

.two-stars {
  background-color: #f2f2f2;
  background-image: url("../images/stars2.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
 }


.hotel-card-button.favorites {
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(130, 179, 211, 1);
padding: 8px, 50px, 8px, 50px
border-radius: 4px
}
/*не добавилось */

.hotel-card-rating {
font-family: PT Sans;
font-size: 16px;
font-weight: 400;
line-height: 20px;
text-transform: uppercase;
}

.pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  gap: 8px;
  padding: 40px 70px;
}

.pagination-item {
width: 60px;
height: 60px;
border-radius: 4px;
background-color: rgba(130, 179, 211, 1);
box-sizing: border-box;
}
/*для last child поставить (not(:last-child)*/

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 60px;
  min-height: 60px;
  margin: 0;
  padding: 0;
  font-family: PT Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
 color: rgba(255, 255, 255, 1);
 text-align: center;
 text-decoration: none;
 cursor: pointer;
}

.pagination-link.pagination-current {
  background-color: rgba(242, 242, 242, 1);
  color: #000000;
}


.pagination-link.white{
  background-color: #ffffff;
  color: #000000;
}
/*как убрать в subscription background? дать доп класс или сделать этот главным а на главной дополнительным с фото?*/


.four-stars {
  background-color: #f2f2f2;
  background-image: url("../images/stars-4.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 72px;
  height: 68px;
}

.three-stars {
  background-color: #f2f2f2;
  background-image: url("../images/stars-3.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 54px;
  height: 51px;
}

.two-stars {
  background-color: #f2f2f2;
  background-image: url("../images/stars-2.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 36px;
  height: 34px;
}
/* stars не работает */

/*
.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.page-header {
  color: #ffffff;
  background-color: #000000;
}

.navigation-link {
  font-family: "PT Sans Narrow", sans-serif;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.main-index {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/index-bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.advantages-list {
  text-align: center;
}

.advantages-title {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
}

.index-columns {
  color: #242424;
  background-color: #fbf7f4;
  background-image: url("../images/bg-noisy.png");
}


.services {
  text-transform: uppercase;
}

.services-title {
  font-size: 32px;
  line-height: 35px;
  font-weight: 700;
}

.services-list {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}

.services-price {
  color: #af7842;
}

.gallery-title {
  font-size: 32px;
  line-height: 35px;
  font-weight: 700;
  text-transform: uppercase;
}

.contacts {
  font-weight: 700;
}

.contacts-title {
  font-size: 32px;
  line-height: 35px;
  font-weight: 700;
  text-transform: uppercase;
}

.contacts-address {
  font-style: normal;
}

.contacts-subtitle {
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #af7842;
}

.contacts-phone {
  font-size: 24px;
  line-height: 29px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #242424;
}

.appointment-title {
  font-size: 32px;
  line-height: 35px;
  font-weight: 700;
  text-transform: uppercase;
}

.appointment-form {
  color: #595959;
}

.form-label {
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.page-footer {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  background-color: #242424;
  background-image: url("../images/bg-noisy.png");
  background-repeat: repeat;
}

.page-footer a {
  color: #ffffff;
}

.page-footer-title {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-contacts-address {
  font-style: normal;
}

.footer-contacts-address p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
}

.footer-contacts-address-phone {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
}

.footer-contacts-map-link {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: underline;
  text-transform: uppercase;
}
/*
/*
#row:checked ~ .navigation-list { flex-direction: row; }
#nowrap:checked ~ .navigation-list { flex-wrap: nowrap; }
#flex-start:checked ~ .navigation-list { justify-content: flex-start; }*/
